{% extends "base.html" %}
{% block head %}
<style>
h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
</script>
{% endblock %}
{% block title %}{{user}}'s Saved Posts{% endblock %}
{% block header %}{{user}}'s Saved Posts{% endblock %}
{% block content %}
<div id="content">
    <p class="lead">You can save this page by hitting Ctrl-S</p>

    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cached: {{date}} UTC" onclick="loading();">Clear Cache</button>

    <ul class="list-unstyled">
        {% for sub, posts in saved_items %}
        <li><h5>{{sub}}</h5>

            <ol>
                {% for post in posts %}
                <li><a href="{{post.url}}">{{post.title}}</a></li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
</body>
<script>
function loading(page) {
    var text = 'Loading';
    $('.page-header h1').text(text)

    $('#content').hide();

    var i = 1;
    setInterval(() => {
        $('.page-header h1').text(text + Array(i++ % 7).join('.'));
    }, 500);

    location.replace("{{url_for('sp.clear_cache')}}");
}

$(() => {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}
