<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

        <style>
            .container {
                width: auto;
                max-width: 680px;
                padding: 0 15px;
            }

            .container .text-muted {
                margin: 20px 0;
            }

            li {
                padding-bottom: .5rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Saved Posts for Reddit</h1>
            </div>

            <p class="lead">Organizes your saved reddit posts!</p>

            <center>`
                <a class="btn btn-primary" href="{{auth_url}}">Go!</a>
            </center>`
        </div>
    </body>
</html>
