{% extends "base.html" %}
{% block title %}Saved Posts for Reddit{% endblock %}
{% block header %}Saved Posts for Reddit{% endblock %}

{% block content %}
<p>Organizes your saved reddit posts!</p>

<img src="/img/saved_preview.png" style="max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 3px">

<p style="margin-top: 16px">If you're like me, you have a couple <s>hundred</s> thousand things in your "Saved" section on reddit.</p>

<p>Saved Posts nicely organizes all your saved submissions and comments by subreddit for easy browsing.</p>

<p style="text-align: center; margin: 24px 0">
    <a class="btn btn-success btn-lg" href="{{auth_url}}">Try it out!</a>
</p>

<p><a href="https://github.com/mtimkovich/saved_posts">Source</a></p>
<p><a href="https://github.com/mtimkovich/saved_posts/blob/master/PrivacyPolicy.md">Privacy Policy</a></p>
{% endblock %}
